<!--Dave von Deschwanden - 301303220 - 06.2023-->
<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="display-12 navbar-text">&copy; Copyright 2023. All Rights Reserved </h6>
    </div>
  </nav>
</footer>